<div class="_orgullos">

    <h4 class="_title divider">{{localize 'common.orgullos'}}</h4>
    <table class="_list">

        <thead>
            <tr class="_header">
                <th style="width: 100%"><label>{{localize 'common.orgullo'}}</label></th>
                <th><label>{{localize 'common.puntos'}}</label></th>
                {{#if isEditable}}
                <th><label></label></th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each orgullos as |orgullo index|}}
            <tr class="_orgullo">
                <td style="width: 100%">
                    <a class="_name"
                       data-action="{{#if ../isEditable}}_showItem{{else}}_showDescr{{/if}}" 
                       data-id="{{orgullo.item.id}}">
                        <label class="_name _lSize">{{orgullo.item.name}}</label>
                    </a>
                    {{#unless orgullo.item.system.applied}}
                        {{#if ../isEditable}}
                            <a data-action="_navToItem"  data-id="{{orgullo.item.id}}" data-name="system.applied">
                                <label class="_advert _pointer blink1" data-tooltip="{{{localize 'tooltip.sinAplicar'}}}">{{localize 'common.sinAplicar'}}</label>
                            </a>
                        {{else}}
                            <label class="_advert blink1" data-tooltip="{{{localize 'tooltip.sinAplicar'}}}">{{localize 'common.sinAplicar'}}</label>
                        {{/if}}                    
                    
                    {{/unless}}
                </td>
                <td>
                {{#if ../isEditable}}
                    <a data-action="_navToItem"  data-id="{{orgullo.item.id}}" data-name="system.coste">
                        <label class="_xsSize _center2 _pointer">{{orgullo.item.system.coste}}</label>
                    </a>
                {{else}}
                    <label class="_xsSize _center2">{{orgullo.item.system.coste}}</label>                   
                {{/if}} 
                </td>               
                {{#if ../isEditable}}
                <td>
                    <button type="button"
                            class="icon fas fa-remove" 
                            data-action="_deleteItem" 
                            data-id="{{orgullo.item.id}}"
                            data-tooltip="{{localize 'tooltip.borrarItem'}}">
                    </button>                 
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>

    </table>

</div>