<div class="_location">
    <div class="_maniqui" style="background-image: url({{assets}}/ui/aq4_location.png)">
    </div>
    <div class="_frontal">
        <div class="_escudo cabeza" 
             data-location="cabeza">
             <div class="_title">{{localize 'common.cabeza'}}</div>
             <div class="_input">{{shields.cabeza.value}}</div>
        </div>
        <div class="_escudo brazoDerecho" 
             data-location="brazoDerecho">
             <div class="_title">{{localize 'common.brazoDerechoShort'}}</div>
             <div class="_input">{{shields.brazoDerecho.value}}</div>
        </div>
        <div class="_escudo brazoIzquierdo" 
             data-location="brazoIzquierdo">
             <div class="_title">{{localize 'common.brazoIzquierdoShort'}}</div>
             <div class="_input">{{shields.brazoIzquierdo.value}}</div>
        </div>
        <div class="_escudo pecho" 
             data-location="pecho">
             <div class="_title">{{localize 'common.pecho'}}</div>
             <div class="_input">{{shields.pecho.value}}</div>
        </div>
        <div class="_escudo abdomen" 
             data-location="abdomen">
             <div class="_title">{{localize 'common.abdomen'}}</div>
             <div class="_input">{{shields.abdomen.value}}</div>
        </div>
        <div class="_escudo piernaDerecha" 
             data-location="piernaDerecha">
             <div class="_title">{{localize 'common.piernaDerechaShort'}}</div>
             <div class="_input">{{shields.piernaDerecha.value}}</div>
        </div>
        <div class="_escudo piernaIzquierda" 
             data-location="piernaIzquierda">
             <div class="_title">{{localize 'common.piernaIzquierdaShort'}}</div>
             <div class="_input">{{shields.piernaIzquierda.value}}</div>
        </div>
    </div>
</div>