<div class="_box _table _noRowsColor _rrirr">
        <div class="_row _char _50">
                <label class="_charTitle _rr">{{localize 'ATTR.rrShort'}}</label>
                {{#if isEditable}}
                <input type="number" 
                        {{{_disabled}}}
                        name="system.atributos.rr.value" 
                        value="{{system.atributos.rr.value}}" 
                        min="{{system.atributos.rr.min}}" 
                        max="{{system.atributos.rr.max}}"
                        class="_charTotal _charRR">
                {{else}}
                <label class="_input _roll _charTotal"
                        data-action="_roll"
                        data-target="attr"
                        data-path="rr.value"
                        data-tooltip="{{localize 'common.rollAttr'}}">
                        <span class="_value _center">{{system.atributos.rr.value}}</span>
                        <span class="_dice"><i class="fa-sharp fa-light fa-dice-d10"></i></span>
                </label>         
                {{/if}}

        </div>
        <div class="_row _char _50">
                <label class="_charTitle _irr">{{localize 'ATTR.irrShort'}}</label>
                {{#if isEditable}}
                <input type="number" 
                        {{{_disabled}}}
                        name="system.atributos.irr.value" 
                        value="{{system.atributos.irr.value}}" 
                        min="{{system.atributos.irr.min}}" 
                        max="{{system.atributos.irr.max}}"
                        class="_charTotal _charIRR">
                {{else}}
                <label class="_input _roll _charTotal"
                        data-action="_roll"
                        data-target="attr"
                        data-path="irr.value"
                        data-tooltip="{{localize 'common.rollAttr'}}">
                        <span class="_value _center">{{system.atributos.irr.value}}</span>
                        <span class="_dice"><i class="fa-sharp fa-light fa-dice-d10"></i></span>
                </label>         
                {{/if}}
        </div>        
</div>
<div class="_box _table _chars _attr">
    <div class="_row _char _header">
        <label></label>
        <label class="_input _center _xsFont">{{localize 'common.maximo'}}</label>
        <label class="_input _center _xsFont">{{localize 'common.actual'}}</label>
    </div>
    <div class="_row _char">
        <label class="_attrTitle">{{localize 'ATTR.sue'}}</label>
        {{#if isEditable}}
        <input type="number" 
                disabled="disabled"
                name="system.atributos.sue.total" 
                value="{{system.atributos.sue.total}}" 
                min="{{system.atributos.sue.min}}" 
                max="{{system.atributos.sue.max}}"
                class="_charTotal">
        {{else}}
        <label class="_input _roll _charValue"
                style="margin-left: 0;"
                data-action="_roll"
                data-useluck="false"
                data-target="attr"
                data-path="sue.total"
                data-tooltip="{{localize 'tooltip.rollAttr'}}">
                <span class="_value _center">{{system.atributos.sue.total}}</span>
                <span class="_dice"><i class="fa-sharp fa-light fa-dice-d10"></i></span>
        </label>
        {{/if}}

        <input type="number" 
                {{{_disabled}}}
                name="system.atributos.sue.value" 
                value="{{system.atributos.sue.value}}" 
                min="{{system.atributos.sue.min}}" 
                max="{{system.atributos.sue.max}}"
                class="_charValue">                  

    </div>
    <div class="_row _char">
        <label class="_attrTitle">{{localize 'ATTR.ptfShort2'}}</label>
        <input type="number" 
                disabled="disabled"
                name="system.atributos.ptf.total" 
                value="{{system.atributos.ptf.total}}" 
                min="{{system.atributos.ptf.min}}" 
                max="{{system.atributos.ptf.max}}"
                class="_charTotal">

        <input type="number" 
                {{{_disabled}}}
                name="system.atributos.ptf.value" 
                value="{{system.atributos.ptf.value}}" 
                min="{{system.atributos.ptf.min}}" 
                max="{{system.atributos.ptf.max}}"
                class="_charValue">                  

    </div>
    <div class="_row _char">
        <label class="_attrTitle">{{localize 'ATTR.ptcShort2'}}</label>
        <input type="number" 
                disabled="disabled"
                name="system.atributos.ptc.total" 
                value="{{system.atributos.ptc.total}}" 
                min="{{system.atributos.ptc.min}}" 
                max="{{system.atributos.ptc.max}}"
                class="_charTotal">

        <input type="number" 
                {{{_disabled}}}
                name="system.atributos.ptc.value" 
                value="{{system.atributos.ptc.value}}" 
                min="{{system.atributos.ptc.min}}" 
                max="{{system.atributos.ptc.max}}"
                class="_charValue">                  

    </div>   
</div>  
<div class="_box _table _chars _noRowsColor _attr">
    <div class="_row _char _header">
        <label></label>
        <label class="_input _center _xsFont">{{localize 'common.totales'}}</label>
        <label class="_input _center _xsFont">{{localize 'common.disponibles'}}</label>
    </div>
    <div class="_row _char">
        <label class="_attrTitle">{{localize 'ATTR.ptaShort2'}}</label>
        <input type="number" 
                {{{_disabled}}}
                name="system.atributos.pta.total" 
                value="{{system.atributos.pta.total}}" 
                min="{{system.atributos.pta.min}}" 
                max="{{system.atributos.pta.max}}"
                class="_charTotal">

        <input type="number" 
                {{{_disabled}}}
                name="system.atributos.pta.value" 
                value="{{system.atributos.pta.value}}" 
                min="{{system.atributos.pta.min}}" 
                max="{{system.atributos.pta.max}}"
                class="_charValue">                  

    </div>    


</div>

{{#if isEditable}}
<div class="_row _extra">
    <button type="button"
            class="icon fas fa-gear" 
            data-action="_resetAttr" 
            data-tooltip="{{localize 'tooltip.resetAttr'}}">
    </button>
    <label>{{localize 'common.resetAttr'}}</label>
</div>
{{/if}}