<div class="_box _table _percents">
    <div class="_row _header">
        <label class="_center">%</label>
        <label class="_center">{{localize 'common.critico'}}</label>
        <label class="_center">{{localize 'common.pifia'}}</label>
    </div>
    {{#each m10 as |base index|}}
    <div class="_row">
        <label class="_center">
            {{zeros (add (mult base 10) 1) 2}} - 
                {{#unless (eq base 9)}} {{zeros (mult (add base 1) 10) 2}}
                               {{else}} 00
                            {{/unless}}
        </label>
        <label class="_center">
            01{{#unless (eq base 0)}} - {{zeros (add base 1) 2}} {{/unless}}
        </label>
        <label class="_center">
            {{#unless (eq base 9)}}{{add 91 base}} - {{/unless}}00
        </label>
    </div>                   
    {{/each}}
</div>

<div class="_note">
    <div class="_row">
        <label class="_strong">{{localize 'common.nota'}}:</label>
        <label>01-05 {{localize 'common.exito'}}</label>
    </div>
    <div class="_row">
        <label class="_strong"></label>
        <label>95-00 {{localize 'common.fallo'}}</label>
    </div>
</div>