<div class="_main {{#if isEditable}}_editable{{/if}}">
    <div class="_sheetContent">

        {{!-- PROPERTIES --}}
        <div class="_properties">

            <div class="_buttons">
                {{{checkButton 'system.dosmanos' 'common.dosManos' 'fa-hands-praying'}}}
                {{{checkButton 'system.auxiliar' 'common.auxiliar' 'fa-dagger'}}}
                {{{checkButton 'system.escudo' 'common.escudo' 'fa-shield-halved'}}}
                {{{checkButton 'system.adistancia' 'common.aDistancia' 'fa-bow-arrow'}}}
                {{{checkButton 'system.fuego' 'common.armaFuego' 'fa-fire'}}}                
            </div>
            <div class="_row _gapped">
                <label>{{localize 'common.competencia'}} :</label>
                <select name="system.competencia.key" {{{_disabled}}} style="width: calc(var(--fSize) * 10);">
                {{selectOptions competencias 
                                selected=system.competencia.key
                                localize=false
                                nameAttr="key"
                                labelAttr="label" }}
                </select>  
            </div>
            <div class="_row _gapped">
                <label>{{localize 'common.dano'}} :</label>
                <input type="text"
                    {{{_disabled}}} 
                    class="_sSize"
                    name="system.dano" 
                    value="{{system.dano}}"> 
            </div>
            <div class="_row _gapped">
                <label>{{localize 'common.tamano'}} :</label>
                <select name="system.tamano" {{{_disabled}}} style="width: calc(var(--fSize) * 7);">
                {{selectOptions tamanos 
                                selected=system.tamano
                                localize=false
                                nameAttr="key"
                                labelAttr="label" }}
                </select>   
            </div>
            {{#if configRULES.armasRES}}
            <div class="_row _gapped">
                <label>{{localize 'CHAR.resShort'}} :</label>
                <input type="number"
                    {{{_disabled}}} 
                    class="_xsSize _marginRight"
                    name="system.resistenciaActual" 
                    value="{{system.resistenciaActual}}">
                <label>/</label>
                <input type="number"
                    {{{_disabled}}} 
                    class="_xsSize"
                    name="system.resistencia" 
                    value="{{system.resistencia}}">  
            </div>
            {{/if}}
            {{#if configRULES.armasFUE}}
            <div class="_row _gapped">
                <label>{{localize 'CHAR.fueShort'}} :</label>
                <input type="number"
                    {{{_disabled}}} 
                    class="_xsSize"
                    name="system.fuerza" 
                    value="{{system.fuerza}}">  
            </div>
            {{/if}}
            {{#if system.adistancia}}
            <div class="_row _gapped">
                <label>{{localize 'common.recarga'}} :</label>
                <input type="number"
                    {{{_disabled}}} 
                    class="_xsSize"
                    name="system.recarga" 
                    value="{{system.recarga}}">     
                <label>{{localize 'common.alcance'}} :</label>

                {{#if (or isEditable (not system.alcance.fue))}}
                    <input type="number"
                        {{{_disabled}}} 
                        class="_xsSize"
                        name="system.alcance.corto" 
                        value="{{system.alcance.corto}}">
                    <input type="number"
                        {{{_disabled}}} 
                        class="_xsSize"
                        name="system.alcance.medio" 
                        value="{{system.alcance.medio}}">
                    <input type="number"
                        {{{_disabled}}} 
                        class="_xsSize _marginRight"
                        name="system.alcance.largo" 
                        value="{{system.alcance.largo}}"> 
                {{/if}}
                {{#if (or isEditable system.alcance.fue)}}
                    {{{checkButton 'system.alcance.fue' 'tooltip.alcanceFUE' 'fa-bicep'}}}  
                {{/if}}


            </div>
            {{/if}}

        </div>

        {{!-- DESCRIPTION --}}
        {{>item_descripcion}}

    </div>
    <div class="_sheetFooter">
        {{>item_footer}}
    </div>    
</div>